@import "./variables.scss";

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}
