@import "../../../styles/variables.scss";

.filters-section {
  display: flex;
  gap: $spacing-lg;
  margin-bottom: $spacing-xl;
  align-items: center;
  flex-wrap: wrap;

  mat-form-field {
    min-width: $form-field-min-width;
  }

  .action-buttons {
    display: flex;
    gap: $spacing-md;
    margin-left: auto;
    align-items: center;
  }
}
