@import "./styles/variables.scss";

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: $color-primary;
  color: white;
  padding: $spacing-lg $spacing-xxl;
  box-shadow: $avatar-shadow;

  h1 {
    margin: 0;
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
  }
}

.app-main {
  flex: 1;
  padding: $spacing-xxl;
  background-color: $color-surface;
}
