<div class="user-table-container">
  <app-user-table-header
    (filterNameChange)="onFilterNameChange($event)"
    (filterEmailChange)="onFilterEmailChange($event)"
    (importUsers)="importUsers()"
    (addUser)="openUserForm()"
  ></app-user-table-header>

  <div class="table-container" *ngIf="!loading">
    <table
      mat-table
      [dataSource]="dataSource"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
    >
      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef>Rank</th>
        <td mat-cell *matCellDef="let user">{{ user.rank }}</td>
      </ng-container>

      <ng-container matColumnDef="avatar">
        <th mat-header-cell *matHeaderCellDef>Avatar</th>
        <td mat-cell *matCellDef="let user">
          <img [src]="user.avatarUrl" [alt]="user.name" class="avatar" />
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user">{{ user.name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user">{{ user.username }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button (click)="editUser(user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" cdkDrag></tr>
    </table>

    <div class="no-data" *ngIf="dataSource.data.length === 0">
      <mat-icon>people</mat-icon>
      <h3>No users found</h3>
      <p>Try changing search parameters or import users</p>
    </div>
  </div>

  <div class="loading-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
    <p>Loading users...</p>
  </div>

  <mat-paginator
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 50]"
    [disabled]="loading"
    (page)="onPageChange($event)"
    showFirstLastButtons
  ></mat-paginator>
</div>
